<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/templates/site/component/header.html :: header(${context.get('contents').getString('title')})">

</head>
<body>
<div th:replace="/templates/site/component/nav.html :: nav('')"></div>
<article class="main-content post-page">

    <div class="post-header">
        <h1 class="post-title">新环境新世界</h1>
        <div class="post-data">
            <time datetime="2018-11-05">发布于2018-11-05</time>
            /
            <a href="">默认分类</a>
            /
            <a href="">10001浏览</a>
        </div>
    </div>
    <div id="post-content" class="post-content " itemprop="articleBody">
        <p class="post-tags"><a href="/tag/2015">2015</a></p>
        <h3 id="directory0203685466919947271">一. 2014 总结</h3>
        <p>2014年，从二线城市南宁来到了一线城市深圳，从一个大杂烩开发转向Android主程，在创业公司一个人编码的日子里，应用层开发一直没有问题，但更深入的内容没有更好的能够去学习。</p>
        <h4 id="directory0203685466919947272">成果</h4>
        <ol>
            <li>为公司开头做配置管理相关工作 —— 构建及移交项目配置管理相关文档与源码仓库管理权限，算是给上一家公司一个源码配置管理做了开端。</li>
            <li>热于折腾电脑 —— 更新笔记本配置，终将黑苹果驱动完善，目前在自己折腾的黑苹果上进行日常开发使用。</li>
            <li>架构学习 —— 重构公司 android 端源码内容，了解了目前 Android 较好的前后分离结构MVP模式，并在逐步应用中</li>
            <li>新环境，新信心 —— 一直在二线城市工作，一直以为一线工作需要很专业，工作之后发现，发散思维在工作中会得到很多帮助，对于以前大杂烩开发的我，在公司有着不错的表现。</li>
            <li>问题解决与总结 —— 将项目从 eclipse 转移到 IDEA，解决项目多渠道打包的繁复问题。理解Gradle android 插件工作的各种原理，帮助技术群的人迁移到 AS 做好原理总结分析，与另一技术朋友研究实现一个项目即产出 android 也产出 javaweb项目并共用 javabean 对于创业公司避免代码重复开发存在效率提升</li>
            <li>新语言学习 —— 参加技术交流会，学习了一些 node.js 的基本使用，自学 Python ，了解了一下各语言 socket 实现，自己用 python 写了小脚本，用于清理 VSS 留下的缓存文件</li>
            <li>认识新朋友 —— 通过网友老乡，在新城市，结交新朋友，对生活的态度从无聊转向积极</li>
        </ol>
        <h3 id="directory0203685466919947273">不足</h3>
        <ol>
            <li>技术不扎实 —— 基本功不足，很多东西没有能够沉淀下来。需要更多基础知识用于拓展自己更深入的研究</li>
            <li>自己的博客维持更新降低，上半年忙加班，下半年加班累了，更多的晚上时间没有用在学习上。</li>
            <li>交际能力不足 —— 虽然很多人说我沟通能力不错，但是和领导的交际还是处理不足，领导做出让整个部门士气受挫的决定，不能很好的处理，还与领导发飙，虽然最终结果做出来了，但是领导与部门的矛盾也许加深了。</li>
        </ol>
        <h3 id="directory0203685466919947274">二. 2015 展望</h3>
        <p>2014年，公司的项目运作存在问题了，技术部门从被说过一次遣散的可能开发，大家就存在跃动的心理了。希望新的一年能够达成我的目标</p>
        <ol>
            <li>找个新东家 —— android 不在单打独斗，带领团队做代码结构突破，正常上下班。</li>
            <li>深入学习 —— 重新学习一遍 java 基础知识，学好网络请求与反射注解，构建自己的注解库与网络请求库（希望是深入学习的成功，并解决一些代码构建上的非业务需求整合）</li>
            <li>陶冶心性 —— 看一本名著，陶冶心性，从冲动向稳重转变</li>
            <li>新语言学习 —— 学习脚本解释语言 python 与 groovy ，主要已入门为主，为后期配置走架构方向，了解服务端代码设计。</li>
            <li>管理提升 —— 希望在新公司开始介入管理，不再是做纯粹的编码搬运工，从技术管理到技术提升，两样都不能缺少。</li>
            <li>提高外语 —— 指定计算机英语学习计划，深入学习过程中，多使用官方文档，避免国内教程的一些误解。</li>
            <li>继续写作 —— 提高写作频率，劲量没两周一篇技术文章，将学习，深入知识，架构优势等做好总结沉淀</li>
        </ol>

        <p class="post-info">
            本文由 <a href="">biezhi</a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>最后编辑时间为:
            2017/02/25 04:44
        </p>
    </div>

</article>

<div id="directory-content" class="directory-content">
    <div id="directory"><ul><li><a href="#directory040563446306759941">1 一. 2014 总结</a><ul><li><a href="#directory040563446306759942">1.1 成果</a></li><li><a href="#directory040563446306759943">1.2 不足</a></li><li><a href="#directory040563446306759944">1.3 二. 2015 展望</a></li></ul></li></ul></div>
</div>
</body>
</html>