<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/templates/site/component/header.html :: header('首页')">
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar  mdui-loaded">

<div th:replace="/templates/site/component/nav.html ::nav('首页')"></div>

<div class="mdui-container container">
    <div class="main">
        <section class="post-list">
            <div class="post-wrapper">
                <article class="post reveal mdui-shadow-4 mdui-hoverable">
                    <section class="meta">
                        <h2 class="title">
                            <a href="/p/5bdeb3f70e60732f3eb3766f">
                                使用 NoticeBoard 迅捷而优雅地发布通知
                            </a>
                        </h2>
                        <time>
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>2018-07-30 星期一
                        </time>
                        <div class="cats">
                            <a href="/categories/cocoa-dev/">Cocoa Dev</a>
                        </div>
                    </section>
                    <section class="article typo">
                        <p>Android 有原生的 <a href="http://wiki.jikexueyuan.com/project/material-design/components/snackbars-and-toasts.html" rel="external nofollow noopener noreferrer" target="_blank">SnackBar</a> ，iOS 没有与之相似的原生控件，GitHub 上好像也没有找到特别好用的开源库。</p>
                        <p>既然在 Android 平台上能够作为原生控件存在，足以说明这种需求不算太不小众，在 iOS 端，类似的需求可能被 UIAlertController、MBProgressHUD 来替代，但是他们都需要打断用户当前正在进行的事情，体验很不好。GitHub 上有一个开源库 NoticeBar ，模仿 <a href="https://github.com/qiuncheng/NoticeBar/raw/master/Screenshots/qq_notice_view_1.jpg" rel="external nofollow noopener noreferrer" target="_blank">QQ的实现效果</a> ，虽然有200+的Star，个人感觉 UI 和可定制性都不够理想，于是自己写了一个模仿系统原生通知样式的易于定制的 <strong><a href="https://github.com/xaoxuu/NoticeBoard" rel="external nofollow noopener noreferrer" target="_blank">NoticeBoard</a></strong>，下面请看截图和演示效果：</p>
                        <div class="readmore">
                            <a href="/p/5bdeb3f70e60732f3eb3766f" class="mdui-btn mdui-color-theme-accent mdui-ripple">READ MORE</a>
                        </div>
                        <div class="full-width auto-padding tags">
                            <a href="/tags/ios/"><i class="fa fa-tag fa-fw"></i>&nbsp;iOS</a>
                            <a href="/tags/开源库/"><i class="fa fa-tag fa-fw"></i>&nbsp;开源库</a>
                        </div>
                    </section>
                </article>
            </div>
            <div class="post-wrapper">
                <article class="post reveal mdui-shadow-4 mdui-hoverable">
                    <section class="meta">
                        <h2 class="title">
                            <a href="/p/5bdeb3f70e60732f3eb3766f">
                                使用 NoticeBoard 迅捷而优雅地发布通知
                            </a>
                        </h2>
                        <time>
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>2018-07-30 星期一
                        </time>
                        <div class="cats">
                            <a href="/categories/cocoa-dev/">Cocoa Dev</a>
                        </div>
                    </section>
                    <section class="article typo">
                        <p>Android 有原生的 <a href="http://wiki.jikexueyuan.com/project/material-design/components/snackbars-and-toasts.html" rel="external nofollow noopener noreferrer" target="_blank">SnackBar</a> ，iOS 没有与之相似的原生控件，GitHub 上好像也没有找到特别好用的开源库。</p>
                        <p>既然在 Android 平台上能够作为原生控件存在，足以说明这种需求不算太不小众，在 iOS 端，类似的需求可能被 UIAlertController、MBProgressHUD 来替代，但是他们都需要打断用户当前正在进行的事情，体验很不好。GitHub 上有一个开源库 NoticeBar ，模仿 <a href="https://github.com/qiuncheng/NoticeBar/raw/master/Screenshots/qq_notice_view_1.jpg" rel="external nofollow noopener noreferrer" target="_blank">QQ的实现效果</a> ，虽然有200+的Star，个人感觉 UI 和可定制性都不够理想，于是自己写了一个模仿系统原生通知样式的易于定制的 <strong><a href="https://github.com/xaoxuu/NoticeBoard" rel="external nofollow noopener noreferrer" target="_blank">NoticeBoard</a></strong>，下面请看截图和演示效果：</p>
                        <div class="readmore">
                            <a href="/p/5bdeb3f70e60732f3eb3766f" class="mdui-btn mdui-color-theme-accent mdui-ripple">READ MORE</a>
                        </div>
                        <div class="full-width auto-padding tags">
                            <a href="/tags/ios/"><i class="fa fa-tag fa-fw"></i>&nbsp;iOS</a>
                            <a href="/tags/开源库/"><i class="fa fa-tag fa-fw"></i>&nbsp;开源库</a>
                        </div>
                    </section>
                </article>
            </div>
            <div class="post-wrapper">
                <article class="post reveal mdui-shadow-4 mdui-hoverable">
                    <section class="meta">
                        <h2 class="title">
                            <a href="/p/5bdeb3f70e60732f3eb3766f">
                                使用 NoticeBoard 迅捷而优雅地发布通知
                            </a>
                        </h2>
                        <time>
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>2018-07-30 星期一
                        </time>
                        <div class="cats">
                            <a href="/categories/cocoa-dev/">Cocoa Dev</a>
                        </div>
                    </section>
                    <section class="article typo">
                        <p>Android 有原生的 <a href="http://wiki.jikexueyuan.com/project/material-design/components/snackbars-and-toasts.html" rel="external nofollow noopener noreferrer" target="_blank">SnackBar</a> ，iOS 没有与之相似的原生控件，GitHub 上好像也没有找到特别好用的开源库。</p>
                        <p>既然在 Android 平台上能够作为原生控件存在，足以说明这种需求不算太不小众，在 iOS 端，类似的需求可能被 UIAlertController、MBProgressHUD 来替代，但是他们都需要打断用户当前正在进行的事情，体验很不好。GitHub 上有一个开源库 NoticeBar ，模仿 <a href="https://github.com/qiuncheng/NoticeBar/raw/master/Screenshots/qq_notice_view_1.jpg" rel="external nofollow noopener noreferrer" target="_blank">QQ的实现效果</a> ，虽然有200+的Star，个人感觉 UI 和可定制性都不够理想，于是自己写了一个模仿系统原生通知样式的易于定制的 <strong><a href="https://github.com/xaoxuu/NoticeBoard" rel="external nofollow noopener noreferrer" target="_blank">NoticeBoard</a></strong>，下面请看截图和演示效果：</p>
                        <div class="readmore">
                            <a href="/p/5bdeb3f70e60732f3eb3766f" class="mdui-btn mdui-color-theme-accent mdui-ripple">READ MORE</a>
                        </div>
                        <div class="full-width auto-padding tags">
                            <a href="/tags/ios/"><i class="fa fa-tag fa-fw"></i>&nbsp;iOS</a>
                            <a href="/tags/开源库/"><i class="fa fa-tag fa-fw"></i>&nbsp;开源库</a>
                        </div>
                    </section>
                </article>
            </div>
            <div class="post-wrapper">
                <article class="post reveal mdui-shadow-4 mdui-hoverable">
                    <section class="meta">
                        <h2 class="title">
                            <a href="/p/5bdeb3f70e60732f3eb3766f">
                                使用 NoticeBoard 迅捷而优雅地发布通知
                            </a>
                        </h2>
                        <time>
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>2018-07-30 星期一
                        </time>
                        <div class="cats">
                            <a href="/categories/cocoa-dev/">Cocoa Dev</a>
                        </div>
                    </section>
                    <section class="article typo">
                        <p>Android 有原生的 <a href="http://wiki.jikexueyuan.com/project/material-design/components/snackbars-and-toasts.html" rel="external nofollow noopener noreferrer" target="_blank">SnackBar</a> ，iOS 没有与之相似的原生控件，GitHub 上好像也没有找到特别好用的开源库。</p>
                        <p>既然在 Android 平台上能够作为原生控件存在，足以说明这种需求不算太不小众，在 iOS 端，类似的需求可能被 UIAlertController、MBProgressHUD 来替代，但是他们都需要打断用户当前正在进行的事情，体验很不好。GitHub 上有一个开源库 NoticeBar ，模仿 <a href="https://github.com/qiuncheng/NoticeBar/raw/master/Screenshots/qq_notice_view_1.jpg" rel="external nofollow noopener noreferrer" target="_blank">QQ的实现效果</a> ，虽然有200+的Star，个人感觉 UI 和可定制性都不够理想，于是自己写了一个模仿系统原生通知样式的易于定制的 <strong><a href="https://github.com/xaoxuu/NoticeBoard" rel="external nofollow noopener noreferrer" target="_blank">NoticeBoard</a></strong>，下面请看截图和演示效果：</p>
                        <div class="readmore">
                            <a href="/p/5bdeb3f70e60732f3eb3766f" class="mdui-btn mdui-color-theme-accent mdui-ripple">READ MORE</a>
                        </div>
                        <div class="full-width auto-padding tags">
                            <a href="/tags/ios/"><i class="fa fa-tag fa-fw"></i>&nbsp;iOS</a>
                            <a href="/tags/开源库/"><i class="fa fa-tag fa-fw"></i>&nbsp;开源库</a>
                        </div>
                    </section>
                </article>
            </div>
            <div class="post-wrapper">
                <article class="post reveal mdui-shadow-4 mdui-hoverable">
                    <section class="meta">
                        <h2 class="title">
                            <a href="/p/5bdeb3f70e60732f3eb3766f">
                                使用 NoticeBoard 迅捷而优雅地发布通知
                            </a>
                        </h2>
                        <time>
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>2018-07-30 星期一
                        </time>
                        <div class="cats">
                            <a href="/categories/cocoa-dev/">Cocoa Dev</a>
                        </div>
                    </section>
                    <section class="article typo">
                        <p>Android 有原生的 <a href="http://wiki.jikexueyuan.com/project/material-design/components/snackbars-and-toasts.html" rel="external nofollow noopener noreferrer" target="_blank">SnackBar</a> ，iOS 没有与之相似的原生控件，GitHub 上好像也没有找到特别好用的开源库。</p>
                        <p>既然在 Android 平台上能够作为原生控件存在，足以说明这种需求不算太不小众，在 iOS 端，类似的需求可能被 UIAlertController、MBProgressHUD 来替代，但是他们都需要打断用户当前正在进行的事情，体验很不好。GitHub 上有一个开源库 NoticeBar ，模仿 <a href="https://github.com/qiuncheng/NoticeBar/raw/master/Screenshots/qq_notice_view_1.jpg" rel="external nofollow noopener noreferrer" target="_blank">QQ的实现效果</a> ，虽然有200+的Star，个人感觉 UI 和可定制性都不够理想，于是自己写了一个模仿系统原生通知样式的易于定制的 <strong><a href="https://github.com/xaoxuu/NoticeBoard" rel="external nofollow noopener noreferrer" target="_blank">NoticeBoard</a></strong>，下面请看截图和演示效果：</p>
                        <div class="readmore">
                            <a href="/p/5bdeb3f70e60732f3eb3766f" class="mdui-btn mdui-color-theme-accent mdui-ripple">READ MORE</a>
                        </div>
                        <div class="full-width auto-padding tags">
                            <a href="/tags/ios/"><i class="fa fa-tag fa-fw"></i>&nbsp;iOS</a>
                            <a href="/tags/开源库/"><i class="fa fa-tag fa-fw"></i>&nbsp;开源库</a>
                        </div>
                    </section>
                </article>
            </div>
            <div class="post-wrapper">
                <article class="post reveal mdui-shadow-4 mdui-hoverable">
                    <section class="meta">
                        <h2 class="title">
                            <a href="/p/5bdeb3f70e60732f3eb3766f">
                                使用 NoticeBoard 迅捷而优雅地发布通知
                            </a>
                        </h2>
                        <time>
                            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>2018-07-30 星期一
                        </time>
                        <div class="cats">
                            <a href="/categories/cocoa-dev/">Cocoa Dev</a>
                        </div>
                    </section>
                    <section class="article typo">
                        <p>Android 有原生的 <a href="http://wiki.jikexueyuan.com/project/material-design/components/snackbars-and-toasts.html" rel="external nofollow noopener noreferrer" target="_blank">SnackBar</a> ，iOS 没有与之相似的原生控件，GitHub 上好像也没有找到特别好用的开源库。</p>
                        <p>既然在 Android 平台上能够作为原生控件存在，足以说明这种需求不算太不小众，在 iOS 端，类似的需求可能被 UIAlertController、MBProgressHUD 来替代，但是他们都需要打断用户当前正在进行的事情，体验很不好。GitHub 上有一个开源库 NoticeBar ，模仿 <a href="https://github.com/qiuncheng/NoticeBar/raw/master/Screenshots/qq_notice_view_1.jpg" rel="external nofollow noopener noreferrer" target="_blank">QQ的实现效果</a> ，虽然有200+的Star，个人感觉 UI 和可定制性都不够理想，于是自己写了一个模仿系统原生通知样式的易于定制的 <strong><a href="https://github.com/xaoxuu/NoticeBoard" rel="external nofollow noopener noreferrer" target="_blank">NoticeBoard</a></strong>，下面请看截图和演示效果：</p>
                        <div class="readmore">
                            <a href="/p/5bdeb3f70e60732f3eb3766f" class="mdui-btn mdui-color-theme-accent mdui-ripple">READ MORE</a>
                        </div>
                        <div class="full-width auto-padding tags">
                            <a href="/tags/ios/"><i class="fa fa-tag fa-fw"></i>&nbsp;iOS</a>
                            <a href="/tags/开源库/"><i class="fa fa-tag fa-fw"></i>&nbsp;开源库</a>
                        </div>
                    </section>
                </article>
            </div>
        </section>
    </div>
    <aside class="side">
        <section class="widget mdui-shadow-4 mdui-hoverable">
            <div class="header mdui-color-theme"><i class="fa fa-sitemap fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;分类</div>
            <div class="content">
                <ul class="entry">
                    <li><a class="flat-box waves-effect waves-block" href="/categories/cocoa-dev/"><div class="name mdui-ripple">学习</div><div class="badge">19</div></a></li>
                    <li><a class="flat-box waves-effect waves-block" href="/categories/dev/"><div class="name mdui-ripple">记录</div><div class="badge">3</div></a></li>
                    <li><a class="flat-box waves-effect waves-block" href="/categories/life/"><div class="name mdui-ripple">其他</div><div class="badge">3</div></a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>
</body>
</html>